@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

.nuxt-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rajdhani', serif;
    font-weight: bold;
    line-height: 1;
    margin: 1.5rem 0 0.5rem 0;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  a {
    color: #3b82f6;
    &:hover {
      color: #2563eb;
    }
  }

  blockquote {
    border-left: 4px solid #6b7280;
    border-radius: 4px;
    padding-left: 8px;
    margin: 8px 0;
    color: #6b7280;
  }

  ul {
    li {
      margin-left: 2rem;
      list-style: disc outside none;
      font-size: 1.125rem;
      &::marker {
        font-weight: bold;
      }
      p {
        display: inline-block;
        margin-left: 0;
      }
    }
  }

  ol {
    li {
      margin-left: 2rem;
      list-style: decimal outside none;
      font-size: 1.125rem;
      &::marker {
        font-weight: bold;
      }
      p {
        display: inline-block;
        margin-left: 0;
      }
    }
  }

  hr {
    border-color: rgb(209, 213, 219);
    margin: 1rem 0;
  }

  code {
    font-family: 'Fira Code', monospace;
    padding: 1px 4px;
    background: #282a36;
    color: #f8f8f8;
    border-radius: 4px;
  }

  img,
  .nuxt-content-highlight {
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  .nuxt-content-highlight code {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
  }

  table {
    width: 100%;
    font-size: 1.125rem;
  }
  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    padding: 12px;
    line-height: 1.2;
    vertical-align: top;
    border-top: 1px solid #282a36;
  }
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #282a36;
  }
  table > caption + thead > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > th,
  table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  table > tbody + tbody {
    border-top: 2px solid #282a36;
  }
}
