@import 'tailwindcss/base';

:root {
  --b-color-text: theme('colors.black');
  --b-color-link: theme('colors.primary.default');
  --b-color-link-hover: theme('colors.primary.active');
  --b-color-code: #f8f8f2;
  --b-color-scroll: theme('colors.gray.500');
  --b-color-scroll-hover: theme('colors.gray.500');
  --b-surface-quote: rgba(7, 8, 9, 0.05);
  --b-surface-code: #282a36;
}
